div{
    position: relative;
    display: block;
    border : solid 5px black;
    height:300px;
    width:400px;
}

p{
    position: absolute;
    width:50%;
    border:1px solid red;
    top:100px;
    left:100px;
}